body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.flexible-part{
    display: flex;
    
}

#top-text-links{
    margin-top: 100px;
    margin-left: 200px;
}
.top-section h2{
    
    font-size: 40px;
    color: #575757;
    line-height: 50%;
}
.about-section h2{
    
    font-size: 40px;
    color: #575757;
    line-height: 50%;
}
.last-section h2{
    
    font-size: 40px;
    color: #575757;
    line-height: 50%;
}
.top-section p{
    color: #828282;
}
.about-section p{
    color: #828282;
}
.last-section p{
    color: #828282;
}
.btn-div{
    margin-top: 50px;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
}

.span-color{
        background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

.half-width{
    width: 50%;
    margin-left: 5%;
    padding: 20px;
    
}

.half-width img{
    width: 90%;
    
}

.about-section{
    background-image: url(images/shapes/7.png);
}
.about-section .half-width img{
    width: 50%;
}
.about-section .half-width p{
    margin-right: 100px;
}
.last-section{
    margin-top: 80px;
    margin-bottom: 80px;
}
.last-section h2 , p{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}